table {
    width: 100%;
    padding: 15px;
    border-collapse: collapse;
}

.client-list a {

    text-decoration: none;
    color: blue;
}

.content-title3 {

    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}


.content-borrowing-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    max-width: 1300px;
    min-height: 60vh;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 1px 4px 16px #6147aaab;
}

.titulo-index {
    color: #6247AA;
}